<!-- insert the page content here -->
<h1>Bandung Open 2016</h1>

<p>Bandung Open 2016 is an official speedcubing competition. It is sanctioned by the World Cube Association.</p>
<p>All competitor must be familiar with the <a href="http://worldcubeassociation.org/regulations">WCA Regulation</a>.</p>
      
<h2>Competition Details</h2>
<p>The competition will be held at:</p>
<ul>
  <li><b>Date</b>: TBD (Probably fourth weekend of January/first weekend of February 2016)</li>
  <li><b>Venue</b>: TBA</li>
  <li><b>Address</b>: TBA</li>
</ul>

<h2>Previous Editions of Bandung Open</h2>
<ul>
  <li><a href="https://www.worldcubeassociation.org/results/c.php?i=BandungOpen2015">Bandung Open 2015</a></li>
  <li><a href="https://www.worldcubeassociation.org/results/c.php?i=BandungOpen2012">Bandung Open 2012</a></li>
  <li><a href="https://www.worldcubeassociation.org/results/c.php?i=BandungOpen2011">Bandung Open 2011</a></li>
</ul>

<h2>Organized by</h2>
<p align="center"><img src="./img/logos.png" width="300px"></p>
<div>