<!-- insert the page content here -->
<h1>Events and Schedule</h1>
<p>There are 11 events that will be held in Bandung Open 2016:</p>
<ul>
	<li>2x2x2</li>
	<li>3x3x3</li>
	<li>4x4x4</li>
	<li>5x5x5</li>
	<li>3x3x3 one handed</li>
	<li>3x3x3 blindfolded</li>
	<li>3x3x3 fewest moves</li>
	<li>3x3x3 multiple blindfolded</li>
	<li>Pyraminx</li>
	<li>Skewb</li>
	<li>Clock</li>
</ul>

<h2>Saturday</h2>
To be determined
<!--
<table cellpadding="0" cellspacing="0">
	<tr>
		<th width="20%">Time</th>
		<th width="70%">Events</th>
		<th width="20%">Cut-off</th>
		<th width="20%">#comp</th>
	</tr>
	<tr>
		<td>08:00 - 08:30</td>
		<td>Registration</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>08:30 - 09:00</td>
		<td>3x3x3 blindfolded</td>
		<td>-</td>
		<td>-</td>
	</tr>
</table>
-->

<h2>Sunday</h2>
To be determined
<!--
<table cellpadding="0" cellspacing="0">
	<tr>
		<th width="20%">Time</th>
		<th width="70%">Events</th>
		<th width="20%">Cut-off</th>
		<th width="20%">#comp</th>
	</tr>
	<tr>
		<td>08:00 - 08:30</td>
		<td>Registration</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>08:30 - 09:00</td>
		<td>3x3x3 fewest moves</td>
		<td>-</td>
		<td>-</td>
	</tr>
</table>
-->