<!-- insert the page content here -->
<h1>Venue &amp; Travel Information</h1>

<p><img src="./img/gim.jpg"></p>
<p><b>Gedung Indonesia Menggugat</b><br/>
Jalan Perintis Kemerdekaan No 5, Bandung</p>
<p><i>Well, where else it's would be? It is Bandung Open, anyway. ;)</i></p>

<h2>How to Reach the Venue by Using Public Transport</h2>
<ul>
	<li>From <strong>Bandung Train Station</strong>: You can just walk about 2 km to the east and found Jalan Perintis Kemerdekaan. But if you insists on public transport, go to South gate of the station and take <strong>St-Hall-Dago</strong> <em>angkot</em>, then get off on Jalan Perintis Kemerdekaan.</li>
	<li>From <strong>Kiara Condong Train Station</strong>: take a local train (about every 30 minutes or so) to <strong>Bandung Train Station</strong> then follow the direction above.</li>
	<li>From <strong>Husein Sastranegara Airport</strong>: There is no public transportation but taxi, the price should be around 20-25k Rupiah</li>
	<li>From <strong>Cicaheum Bus Station</strong>: Take <strong>Cicaheum-Ciroyom</strong> <em>angkot</em>, get off on <strong>Simpang Dago junction</strong> (there is a McDonald’s in the junction) then take <strong>Dago-St-Hall&nbsp;</strong><em>angkot</em>, get off at <strong>Bank Indonesia Braga</strong>, and walk few steps to the west.</li>
	<li>From <strong>Leuwi Panjang Bus Station</strong>: Take <strong>Leuwi Panjang – Dipati Ukur</strong> DAMRI city bus, you can get off in front of the venue.</li>
	<li>You can try to find the route of the <i>angkot</i> from other locations by using the <b><a href="http://kiri.travel">KIRI.TRAVEL</a></b> website</li>
</ul>

<h2>Google Maps of the Venue</h2>
<div style="height:500px;width:500px;max-width:100%;list-style:none; transition: none;overflow:hidden;"><div id="my-map-display" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=Gedung+Indonesia+Menggugat,+Babakan+Ciamis,+West+Java,+Indonesia&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe></div><a class="code-for-google-map" href="https://www.bootstrapskins.com" id="grab-maps-authorization">bootstrap themes</a><style>#my-map-display img{max-width:none!important;background:none!important;}</style></div>